// Media queries
@mixin big-mobile {
    @media (min-width: $big-mobile) {
        @content;
    }
}

@mixin big-mobile-only {
    @media (min-width: $big-mobile) and (max-width: ($tablet-width - 1)) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet-width) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-width) {
        @content;
    }
}

// Button style
@mixin btn {
    border-radius: 4px;
    outline: none;
    border: none;
    padding: 0.4rem 1rem;
    font-size: 12px;

    @include desktop {
        font-size: 18px;
        line-height: 22px;
    }
}