// Widths
$phone-width: 320px;
$big-mobile: 500px;
$tablet-width: 768px;
$desktop-width: 1200px;

$mini-padding: 8px;
$mobile-padding: 16px;
$medium-padding: 32px;

$main-color-1: #EE5D51;
$main-color-2: #932B89;

$fancy-font: 'League Spartan';
$basic-font: Arial;