@import 'partials/fonts';
@import 'partials/variables';
@import 'partials/mixins';

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

// Hero
.hero {
    background-image: url(../assets/images/guitar-hero.jpg);
    background-repeat: none;
    background-size: cover;
    height: 533px;
    background-position: 20% 0%;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        align-items: center;
    }

    &__socials {
        position: relative;
        overflow: hidden;
        height: 58px;
        width: 100vw;
        background-color: rgba(black, 0.74);

        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__logo {
        position: absolute;
        top: -26px;
        left: calc(50vw - 100px);
    }

    &__text {
        text-align: center;
        padding-bottom: 1.5rem;
    }

    &__title {
        width: 265px;
        margin: 0 auto;
        padding-bottom: $mini-padding;
    }

    &__subtitle {
        display: block;
        color: white;
        font-weight: 300;
        font-size: 14px;
        width: 212px;
        margin: 0 auto;
        padding-bottom: 12px;
    }

    &__btn {
        display: inline-block;
        background: linear-gradient(90deg, $main-color-1 0%, $main-color-2 100%);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
        @include btn;
        color: white;

        &--promo {
            margin-left: $mobile-padding;
            padding-right: 2rem;
            position: relative;

            &::after {
                content: url(../assets/images/play-icon.svg);
                height: 12px;
                width: 12px;
                position: absolute;
                right: 16px;
            }
        }
    }
}

.emphasis {
    &--1 {
        color: $main-color-1;
        font-weight: 300;
        font-size: 14px;
    }

    &--2 {
        color: $main-color-2;
        font-weight: 300;
        font-size: 14px;
    }
}

// Socials bar (faux nav)
.socials {
    &__line {
        display: block;
        width: 22px;
        height: 1px;
        background-color: rgba(#FFFFFF, 0.6);
        margin: 5px $mobile-padding 5px 0;
    }
}

// As Seen On section
.seen-on {
    padding: 2rem 0;

    &__logo-list {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            margin-bottom: 2rem;
        }
    }

    &__logo {
        margin: 1.5rem auto;

        @include tablet {
            margin: 1.5rem 0;
        }
    }
}

// Card
.card {
    background: linear-gradient(180deg, $main-color-1 0%, $main-color-2 100%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: $mobile-padding $mini-padding;
    margin: 0 $medium-padding 2rem $medium-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    @include tablet {
        padding: $medium-padding $medium-padding;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &--device {
        @include tablet {
            flex-direction: row;
            align-items: flex-start;
            max-width: 1236px;
        }
    }

    &__text {
        @include tablet {
            max-width: 600px;
        }
    }

    &__title {
        &--device {
            @include tablet {
                text-align: left;
                margin-top: 2.5rem;
            }
        }
    }

    &__btn {
        @include btn;
        background-color: white;
        color: $main-color-2;
        display: none;

        @include tablet {
            display: block;
        }
    }

    &__list {
        @include tablet {
            display: flex;
        }
    }

    &__para {
        color: white;
        text-align: center;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        margin: 1.5rem 1rem;

        &--device {
            @include tablet {
                text-align: left;
                margin: 1.5rem 0;
            }
        }
    }

    &__caption {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: white;
        margin: 22px;
        text-align: center;

        @include tablet {
            margin: 22px 0;
        }
    }

    &__pic {
        &--device {
            width: 275px;

            @include tablet {
                
            }
        }
    }
}

// Rating
.rating {
    text-align: center;
    margin: 4rem $medium-padding;

    &__quote {
        font-family: $fancy-font;
        font-weight: bold;
        font-size: 16px;
        line-height: 25px;
        background: linear-gradient(180deg, #EE5D51 0%, #932B89 100%);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }

    &__name {
        font-family: $fancy-font;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        background: linear-gradient(180deg, #EE5D51 0%, #932B89 100%);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
}

// Features
.features {
    &__title {
        margin-bottom: $medium-padding;
    }
}

// Highlights
.hilights {
    margin: 0 $medium-padding 2rem $medium-padding;

    &__title {
        margin-top: 4rem;
        margin: 4rem 0 2rem 0;
    }

    &__topic {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5rem 0;

        &--first {
            margin-top: 2rem;
        }
    }

    &__subtitle {
        &--top {
            margin-top: 0;
        }
    }

    &__para {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-top: 0;
    }

    &__img {
        border-radius: 4px;

        &--top {
            margin-top: 14px;
        }
    }
}

// Footer
.foot {
    background-color: #252525;
    width: 100%;
    padding: $mini-padding $medium-padding;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__info {
        margin: 3.2rem 0 1.5rem 0;
        color: white;
        text-align: center;
        font-weight: 300;
        font-size: 12px;
    }

    &__socials {
        display: flex;
        width: 125px;
        justify-content: space-between;
        margin-bottom: 1.5rem;
    }

    &__line {
        width: 100%;
        margin: 0 $medium-padding 0.5rem $medium-padding;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.25);
    }

    &__detail {
        margin: 0 0 1.5rem 0;
        color: white;
        text-align: center;
        font-weight: 300;
        font-size: 10px;
    }
}