@import 'partials/fonts';
@import 'partials/variables';
@import 'partials/mixins';

body, html {
    margin: 0;
}

* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
}

// Hero
.hero {
    background-image: url(../assets/images/guitar-hero.jpg);
    background-repeat: none;
    background-size: cover;
    height: 533px;
    background-position: 20% 0%;

    @include tablet {
        height: 100vh;
        background-position: 32% 0%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        align-items: center;

        @include tablet {
            padding-top: 2rem;
        }
    }

    &__socials {
        position: relative;
        height: 58px;
        width: 100vw;
        background-color: rgba(black, 0.74);
        overflow: visible;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include tablet {
            background-color: rgba(black, 0);
        }
    }

    &__logo {
        position: absolute;
        top: -26px;
        left: calc(50vw - 100px);

        @include tablet {
            top: -50px;
            left: -48px;
            width: 300px;
        }

        &--footer {
            @include desktop {
                top: -24px;
                left: -60px;
                width: 300px;
            }
        }
    }

    &__text {
        text-align: center;
        padding-bottom: 1.5rem;

        @include tablet {
            height: 100%;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 50vw;
        }
    }

    &__title {
        width: 265px;
        margin: 0 auto;
        padding-bottom: $mini-padding;

        @include tablet {
            width: 330px;
        }

        @include desktop {
            font-size: 54px;
            line-height: 70px;
            width: 600px;
        }
    }

    &__subtitle {
        display: block;
        color: white;
        font-weight: 300;
        font-size: 14px;
        width: 212px;
        margin: 0 auto;
        padding-bottom: 12px;

        @include tablet {
            margin: 1rem 0;
            width: 250px;
            font-size: 18px;
        }

        @include desktop {
            width: 420px;
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
        }
    }

    &__btn {
        display: inline-block;
        background: linear-gradient(90deg, $main-color-1 0%, $main-color-2 100%);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
        @include btn;
        color: white;

        &:hover {
            background: $main-color-2;
            cursor: pointer;
        }

        &--promo {
            margin-left: $mobile-padding;
            padding-right: 2rem;
            position: relative;

            &::after {
                content: url(../assets/images/play-icon.svg);
                height: 12px;
                width: 12px;
                position: absolute;
                right: 16px;

                @include desktop {
                    height: 20px;
                    width: 20px;
                    right: 10px;
                }
            }
        }
    }

    &__buttons {
        @include tablet {
            margin-bottom: 4rem;
        }
    }
}

.emphasis {
    &--1 {
        color: $main-color-1;
        font-weight: 300;
        font-size: 14px;

        @include tablet {
            font-size: 18px;
        }

        @include desktop {
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
        }
    }

    &--2 {
        color: $main-color-2;
        font-weight: 300;
        font-size: 14px;

        @include tablet {
            font-size: 18px;
        }

        @include desktop {
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
        }
    }
}

// Socials bar (faux nav)
.socials {
    &__dropdown {
        position: relative;

        @include tablet {
            display: none;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__line {
        display: block;
        width: 22px;
        height: 1px;
        background-color: rgba(#FFFFFF, 0.6);
        margin: 5px 18px 5px 0;
    }

    &__icons {
        position: absolute;
        display: none;
        flex-direction: column;
        background-color: rgba(black, 0.74);
        left: -17px;
        top: 40px;
    }

    &__icon {
        padding: 8px 16px;
    }

    &__bar {
        display: none;
        margin: 0 2rem 0 0;

        @include tablet {
            display: inline-block;
        }
    }
}

// As Seen On section
.seen-on {
    padding: 2rem 0;

    &__logo-list {
        display: flex;
        flex-direction: column;
        max-width: 1064px;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;
            margin: 0 auto 2rem auto;
            padding: 0 2rem;
        }
    }

    &__logo {
        margin: 1.5rem auto;
        max-width: 200px;

        @include tablet {
            margin: 1.5rem 0;
        }
    }

    &__img {
        max-width: 200px;
    }
}

// Card
.card {
    background: linear-gradient(180deg, $main-color-1 0%, $main-color-2 100%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: $mobile-padding $mini-padding;
    margin: 0 $medium-padding 2rem $medium-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    align-self: center;

    @include tablet {
        padding: $medium-padding $medium-padding;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &--features {
        @include desktop {
            width: 340px;
            height: 369px;
            
        }
    }

    &--device {
        @include tablet {
            flex-direction: row;
            align-items: flex-start;
            width: calc(100% - 64px);
            max-width: 1064px;
        }
    }

    &__text {
        @include tablet {
            max-width: 600px;
        }
    }

    &__title {
        &--device {
            @include tablet {
                text-align: left;
                margin-top: 2.5rem;
            }
        }
    }

    &__btn {
        @include btn;
        background-color: white;
        color: $main-color-2;
        display: none;

        &:hover {
            background-color: #fc7670;
            color: white;
            cursor: pointer;
        }

        @include tablet {
            display: block;
        }
    }

    &__list {
        @include tablet {
            display: flex;
        }
    }

    &__para {
        color: white;
        text-align: center;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        margin: 1.5rem 1rem;

        @include tablet {
            font-size: 16px;
            line-height: 20px;
        }

        @include desktop {
            font-size: 18px;
            line-height: 22px;
        }

        &--device {
            @include tablet {
                text-align: left;
                margin: 1.5rem 0;
            }
        }
    }

    &__caption {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: white;
        margin: 22px;
        text-align: center;

        @include tablet {
            margin: 22px 0;
        }
    }

    &__pic {

        &--small {
            padding: 16px;
        }

        &--device {
            width: 100px;

            @include tablet {
                width: 150px;
            }
        }
    }
}

// Rating
.rating {
    text-align: center;
    margin: 4rem $medium-padding;
    max-width: 1004px;
    align-self: center;

    @include desktop {
        margin: 5rem 0;
    }

    &__quote {
        font-family: $fancy-font, sans-serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 25px;
        background: linear-gradient(180deg, #EE5D51 0%, #932B89 100%);
	    -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
        @include desktop {
            font-size: 26px;
            line-height: 40px;
        }
    }

    &__name {
        font-family: $fancy-font, sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        background: linear-gradient(180deg, #EE5D51 0%, #932B89 100%);
	    -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
        @include desktop {
            font-size: 20px;
            line-height: 30px;
            text-align: right;
        }
    }
}

// Features
.features {
    align-self: center;
    max-width: $max-content-width;
    &__title {
        margin-bottom: $medium-padding;
    }

    @include desktop {
        margin-bottom: 3rem;
    }
}

// Highlights
.hilights {
    margin: 0 $medium-padding 2rem $medium-padding;

    @include desktop {
        width: $max-content-width;
        margin: auto;
    }

    &__title {
        margin-top: 4rem;
        margin: 4rem 0 2rem 0;
    }

    &__topic {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5rem 0;

        &--first {
            margin-top: 2rem;
        }

        @include desktop {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 10rem;
        }
    }

    &__text {
        @include desktop {
            width: 500px;
        }
    }

    &__subtitle {
        &--top {
            margin-top: 0;
        }

        &:hover {
            opacity: 0.6;
            cursor: pointer;
        }

        @include desktop {
            text-align: left;
            font-size: 24px;
            line-height: 30px;
        }
    }

    &__para {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-top: 0;

        @include desktop {
            text-align: left;
            font-size: 18px;
            line-height: 22px;
        }
    }

    &__img {
        border-radius: 4px;
        width: 300px;

        @include desktop {
            width: 400px;
        }

        &--top {
            @include desktop {
                margin-left: 80px;
            }
        }

        &--mid {
            margin-top: 14px;

            @include desktop {
                margin: 0 80px 0 0;
            }
        }

        &--bottom {
            margin-top: 14px;
            height: 225px;
            object-fit: cover;
            object-position: 0 -79px;

            @include desktop {
                margin: 0 0 0 80px;
                height: 285px;
                object-position: 0 -109px;
            }
        }
    }
}

// Footer
.foot {
    background-color: #252525;
    width: 100%;
    padding: $mini-padding $medium-padding;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__orientation {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include desktop {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            align-items: flex-start;
        }
    }

    &__info {
        margin: 3.2rem 0 1.5rem 0;
        color: white;
        text-align: center;
        font-weight: 300;
        font-size: 12px;

        @include tablet {
            margin: 4rem 0 1.5rem 0;
        }

        @include desktop {
            margin: 5.5rem 0 1.5rem 0;
            font-size: 14px;
            line-height: 20px;
            width: 530px;
            text-align: left;
        }
    }

    &__socials {
        display: flex;
        width: 125px;
        justify-content: space-between;
        margin-bottom: 1.5rem;

        @include desktop {
            margin-top: 2.5rem;
        }
    }


    &__creators {
        align-self: flex-start;
        color: white;
        text-align: center;
        margin: 1rem auto;

        @include desktop {
            text-align: left;
            margin: 1rem 0;
        }
    }

    &__credits {
        font-weight: 300;
        font-size: 12px;
        margin: 0.2rem;

        @include desktop {
            font-size: 14px;
            line-height: 20px;
        }
    }

    &__credits-link {
        font-weight: bold;
        color: white;
        font-size: 12px;
        margin: 0;

        @include desktop {
            font-size: 14px;
            line-height: 20px;
        }

        &:hover {
            color: $main-color-2;
        }
    }

    &__line {
        width: 100%;
        margin: 0 $medium-padding 0.5rem $medium-padding;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.25);
    }

    &__deets {
        @include desktop {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 1.5rem;
        }
    }

    &__detail {
        margin: 0 0 1.5rem 0;
        color: white;
        text-align: center;
        font-weight: 300;
        font-size: 10px;
        font-size: 14px;
        line-height: 20px;
    }
}